.web-h1{
    display: block;
    color: #fff;
    font-weight: bold;
}
.home-content{
    width: fit-content;
}
.web-home{
    display: grid;
    background-color:#121212;
}
.web-h4 {
    display: block;
    color: gray;
}
.web-a:link {
    text-decoration: none;
}
  
.web-a:visited {
text-decoration: none;
}

.web-a:hover {
text-decoration: underline;
}

.web-seeAll{
    display: block;
    /* color: gray; */
    color:#fff;
    font-size: 18px;
    text-align: right;
}
.web-seeAll:hover {
    text-decoration: underline;
    }

    /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

 /* @-webkit-keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .rollIn {
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
  }  */
  .loader {
    border: 16px -webkit-linear-gradient(rgb(221, 165, 241), rgb(4, 56, 88));
    border-radius: 50%;
    border-top: 16px solid rgb(233, 192, 248);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loading-h1{
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(221, 165, 241), rgb(4, 56, 88));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .load{
      display: grid;
  }