#SearchSection{
    display: inline;
    position: absolute;
}
.LSearch:hover{
    text-decoration: underline;
    text-decoration-color: white;
  }
#seeAllSearch{
    width: 75rem;
    display: inline-block;
}
.LSearch{
    display: inline;
}
.CardC{
    background: linear-gradient(to bottom ,
    rgb(43, 95, 86)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Blues{
    background: linear-gradient(to bottom ,
    rgb(117, 138, 158)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Arabic{
    background: linear-gradient(to bottom ,
    rgb(83, 153, 218)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.CardP { 
    background: linear-gradient(to bottom ,
     rgb(201, 128, 19)10%,
     rgb(20, 24, 23)70%);
     display: table;
     height: 55rem; 
     width: 100%;
}
.CardM{
    background: linear-gradient(to bottom ,
    rgb(113, 146, 218)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.CardN{
    background: linear-gradient(to bottom ,
    rgb(113, 132, 141)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.HipHop{
    background: linear-gradient(to bottom ,
    rgb(192, 137, 54)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Electronic{
   background: linear-gradient(to bottom ,
    rgb(137, 202, 204)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.CardMood{
    background: linear-gradient(to bottom ,
    rgb(37, 123, 223)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Gaming{
    background: linear-gradient(to bottom ,
    rgb(78, 4, 33)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Punk{
    background: linear-gradient(to bottom ,
    rgb(172, 55, 119)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Jazz{
    background: linear-gradient(to bottom ,
    rgb(113, 132, 141)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Pop{
    background: linear-gradient(to bottom ,
    rgb(146, 196, 177)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Travel{
    background: linear-gradient(to bottom ,
    rgb(184, 154, 89)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Chill{
    background: linear-gradient(to bottom ,
    rgb(182, 102, 119)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Rock{
    background: linear-gradient(to bottom ,
    rgb(134, 26, 31)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.R_B{
    background: linear-gradient(to bottom ,
    rgb(172, 55, 119)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Classical{
    background: linear-gradient(to bottom ,
    rgb(141, 125, 158)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Kids{
    background: linear-gradient(to bottom ,
    rgb(128, 28, 121)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.TV_Movies{
    background: linear-gradient(to bottom ,
    rgb(149, 179, 79)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Reggae{
    
   background: linear-gradient(to bottom ,
    rgb(7, 70, 56)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}
.Country{
    background: linear-gradient(to bottom ,
    rgb(184, 154, 89)10%,
    rgb(20, 24, 23)70%);
    display: table;
    height: 55rem; 
    width: 100%;
}